# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
build/
*.egg-info/
dist/

# Lambda deployment packages
deployment/head.zip
deployment/tail.zip

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# OS files
.DS_Store

# IDE files
.vscode/
.idea/